<div class="row justify-content-center">
  <div class="col-lg-8 col-10">
    <div class="converter-conatiner p-3 my-5 rounded">
      <div class="d-flex mt-2 justify-content-around">
        <div class="col-2 p-0">
          <input class="amount-input form-control" id="amount" value="1"></input>
        </div>
        <div class="col-3 p-0">
          <div class="search-box-wrapper rounded" id="from"></div>
          <div class="list-group rounded search-result hide" id="from-currency-search-result"></div>
        </div>

        <div class="col-1 p-0 text-center align-self-center">
          <button class="btn btn-primary px-3" id="exchange-button"><i class="fas fa-exchange-alt"></i></button>
        </div>

        <div class="col-2 p-0">
          <input class="amount-input form-control" id="result"></input>
        </div>
        <div class="col-3 p-0">
          <div class="search-box-wrapper rounded" id="to"></div>
          <div class="list-group rounded search-result hide" id="to-currency-search-result"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="d-block d-lg-none">
  I'm in mobile view
</div> -->
