<div>
  <span id="from-currency">chainlink</span>
  <textarea id="from-currency-value"></textarea>
</div>

<div>
  <span id="to-currency">ampleforth</span>
  <textarea id="to-currency-value"></textarea>
</div>

<button onclick="convert2()">Convert</button>
<div id="result"></div>
