@import "bootstrap";

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$primary-color: #8dc647;
$secondary-color: #7ab52b;
$button-height: 40px;

$text-5xs: 0.5rem;
$text-4xs: 0.625rem;
$text-3xs: 0.7rem;
$text-2xs: 0.75rem;
$text-xs: 0.8rem;
$text-sm: 0.875rem;
$text-normal: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 2.5rem;

.text-5xs {
  font-size: $text-5xs;
}
.text-4xs {
  font-size: $text-4xs;
}
.text-3xs {
  font-size: $text-3xs;
}
.text-2xs {
  font-size: $text-2xs;
}
.text-xs {
  font-size: $text-xs;
}
.text-sm {
  font-size: $text-sm;
}
.text-normal {
  font-size: $text-normal;
}
.text-base {
  font-size: $text-base;
}
.text-lg {
  font-size: $text-lg;
}
.text-xl {
  font-size: $text-xl;
}
.text-2xl {
  font-size: $text-2xl;
}
.text-3xl {
  font-size: $text-3xl;
}
.text-4xl {
  font-size: $text-4xl;
}
.text-5xl {
  font-size: $text-5xl;
}

//container
body {
  font-family: $font-stack;
}

.converter-conatiner {
  background-color: #f8f8f8;
}

// search bar
.search-box-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid #dddddd;
  background-color: white;
}

.search-box {
  border: none;
  height: 100%;
}

.search-result {
  position: absolute;
  border: 1px solid #dddddd;
  max-height: 280px;
  width: 100%;
  overflow: auto;
  z-index: 100;
  &::-webkit-scrollbar {
    background-color: white;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.search-item {
  border-left: none;
  border-right: none;
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

// button
.btn-primary {
  background: $primary-color;
  border: 1px solid $primary-color;
  padding: 4px 15px;
  height: 40px;
  cursor: pointer;
  font-size: $text-normal;
}

.btn-primary:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

#exchange-button {
  height: 38px;
}

#amount {
  height: 100%;
}

#result {
  height: 100%;
  color: green;
}
