@import "bootstrap";

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$primary-color: #8dc647;
$secondary-color: #7ab52b;
$text-normal: 0.875rem;
$button-height: 40px;

//container
body {
  font-family: $font-stack;
}

.converter-conatiner {
  background-color: #f8f8f8;
}

// search bar
.search-result {
  position: absolute;
  border: 1px solid #dddddd;
  max-height: 280px;
  width: 100%;
  overflow: auto;
  z-index: 100;
  &::-webkit-scrollbar {
    background-color: white;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.search-item {
  border-left: none;
  border-right: none;
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

// button
.btn-primary {
  background: $primary-color;
  border: 1px solid $primary-color;
  padding: 4px 15px;
  height: 40px;
  cursor: pointer;
  font-size: $text-normal;
}

.btn-primary:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

#exchange-button {
  height: 38px;
}
